.container{
    place-self: center;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.input-div{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

h2{
    padding-bottom: 10px;
}

.input-add{
    width:100%;
    outline: none;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.item-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 20px 10px;
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.4);
}

.input-check{
    width: 30px;
    height: 30px;
}

.item{
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    width: 300px;
    padding-left: 10px;
    text-align: center;
    color: #1e0326;
    letter-spacing: 1px;
} 

.trash-icon{
    font-size: 25px;
    color: #3e0961;
}

.add-icon{
    font-size: 30px;
    color: whitesmoke;
}

.trash-icon:hover{
    color: red;
}

li{
    list-style-type: none;
    width: 340px;
}

.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.25);
}

.search-div{
    width: 100%;
}

.input-add::placeholder{
    color: white;
    letter-spacing: 1px;
}

.input-add:focus{
    color: white;
}

.empty-message{
    display: flex;
    align-items: center;
}

.empty-message p{
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 500px) {
   .container {
       padding: 15px;
       width: 95%;
   }
   .input-add {
       font-size: 16px;
   }
   .item {
       font-size: 16px;
   }
   .trash-icon, .add-icon {
       font-size: 20px;
   }
   .app{
    background-image: none;
   }
   body{
    background-color: #b10ee2;
   }
}
